// Main  content
// $primary-background: #1f2834;
// $primary-color: #e8e8e8;
// $primary-font: "Inter";
$primary-font-size: 1.6rem;
$primary-font-space: 0.05rem;
$font-size-xs: 1.2rem;
$font-size-xl: 2rem;
$icons-size-xs: 1.2rem;

// Main colours

// Input colours
$bg-input: #e8e8e8;
$text-input: #454545;

// Transitions
$primary-transition: all 0.4s ease-in-out;
